<h1>ASCII ART</h1>
<form action="asciify/show">
글자 : <input type="text" name="keyword">
폰트 선택 : 
<select name="fonts">
  <option value="standard">Standard</option>
  <option value="big">Big</option>
  <option value="thin">Thin</option>
  <option value="slant">Slant</option>
  <option value="doh">Doh</option>
  <option value="doom">Doom</option>
</select>
<button type="submit">만들기</button>
</form>
